html * {
  font-family: 'Courier New', Courier, monospace;
  
}

.SearchBar {
  position: absolute;
  top: 355px;
  left: 575px;
}

.SearchBar input {
  height: 100px;
  width: 100px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightblue;
    line-height: 2 ;
    font-size: 30px;
    text-align: center;
  }




h1 {
    font-family: 'Courier New', Courier, monospace;
    color: navy;
    text-align: center;
  }

h3 {
    font-family: 'Courier New', Courier, monospace;
    color: navy;
    text-align: center;
  }
li {
  line-height: 1 ;
}

table {
  counter-reset: row-num;
}
